In [ ]:
import requests
import warnings
from tqdm import tqdm, trange
import pandas as pd 
import streamlit as st 
import yfinance as yf
from datetime import datetime
from dateutil.relativedelta import relativedelta
import plotly_express  as px
import plotly.graph_objects as go
import random
import unittest
import tables
import pickle
import pyarrow.parquet as pq
import pyarrow as pa
import plotly.io as pio
import math
import investpy
import sklearn.preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

In [119]:
pio.templates.default = "plotly_dark"

In [242]:
oi = yf.Ticker("TSLA")

In [243]:
oi.info

{'address1': '1 Tesla Road',
 'city': 'Austin',
 'state': 'TX',
 'zip': '78725',
 'country': 'United States',
 'phone': '512 516 8177',
 'website': 'https://www.tesla.com',
 'industry': 'Auto Manufacturers',
 'industryKey': 'auto-manufacturers',
 'industryDisp': 'Auto Manufacturers',
 'sector': 'Consumer Cyclical',
 'sectorKey': 'consumer-cyclical',
 'sectorDisp': 'Consumer Cyclical',
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits; and non-warranty after-sales vehicle, used vehicles, body shop and parts, supercharging, retail merchandise, and vehicle insurance services. This segment also provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; purchase financing and leasing services; services for electric vehicles through its company-owned service locations and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners; and provision of service and repairs to its energy product customers, including under warranty, as well as various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.',
 'fullTimeEmployees': 140473,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Elon R. Musk',
   'age': 52,
   'title': 'Co-Founder, Technoking of Tesla, CEO & Director',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Vaibhav  Taneja',
   'age': 46,
   'title': 'Chief Financial Officer',
   'yearBorn': 1978,
   'fiscalYear': 2023,
   'totalPay': 278000,
   'exercisedValue': 8517957,
   'unexercisedValue': 202075632},
  {'maxAge': 1,
   'name': 'Mr. Xiaotong  Zhu',
   'age': 44,
   'title': 'Senior Vice President of Automotive',
   'yearBorn': 1980,
   'fiscalYear': 2023,
   'totalPay': 926877,
   'exercisedValue': 0,
   'unexercisedValue': 344144320},
  {'maxAge': 1,
   'name': 'Travis  Axelrod',
   'title': 'Head of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brian  Scelfo',
   'title': 'Senior Director of Corporate Development',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Franz  von Holzhausen',
   'title': 'Chief Designer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. John  Walker',
   'age': 61,
   'title': 'Vice President of Sales - North America',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 121550,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Peter  Bannon',
   'title': 'Chip Architect',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Turner  Caldwell',
   'title': 'Engineering Manager',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rodney D. Westmoreland Jr.',
   'title': 'Director of Construction Management',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 9,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 9,
 'overallRisk': 10,
 'governanceEpochDate': 1735689600,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 400.28,
 'open': 401.515,
 'dayLow': 401.425,
 'dayHigh': 419.98,
 'regularMarketPreviousClose': 400.28,
 'regularMarketOpen': 401.515,
 'regularMarketDayLow': 401.425,
 'regularMarketDayHigh': 419.98,
 'beta': 2.295,
 'trailingPE': 200.29703,
 'forwardPE': 104.05362,
 'volume': 83568219,
 'regularMarketVolume': 83568219,
 'averageVolume': 90801781,
 'averageVolume10days': 70683960,
 'averageDailyVolume10Day': 70683960,
 'bid': 404.3,
 'ask': 405.61,
 'bidSize': 100,
 'askSize': 200,
 'marketCap': 1301403926528,
 'fiftyTwoWeekLow': 138.8,
 'fiftyTwoWeekHigh': 488.54,
 'priceToSalesTrailing12Months': 13.39582,
 'fiftyDayAverage': 398.1882,
 'twoHundredDayAverage': 262.1125,
 'currency': 'USD',
 'enterpriseValue': 1228948242432,
 'profitMargins': 0.13075,
 'floatShares': 2793105010,
 'sharesOutstanding': 3216519936,
 'sharesShort': 63254084,
 'sharesShortPriorMonth': 80765425,
 'sharesShortPreviousMonthDate': 1734048000,
 'dateShortInterest': 1736899200,
 'sharesPercentSharesOut': 0.0197,
 'heldPercentInsiders': 0.1291,
 'heldPercentInstitutions': 0.47744998,
 'shortRatio': 0.7,
 'shortPercentOfFloat': 0.0226,
 'impliedSharesOutstanding': 3210060032,
 'bookValue': 21.806,
 'priceToBook': 18.554527,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1727654400,
 'earningsQuarterlyGrowth': 0.169,
 'netIncomeToCommon': 12743000064,
 'trailingEps': 2.02,
 'forwardEps': 3.24,
 'lastSplitFactor': '3:1',
 'lastSplitDate': 1661385600,
 'enterpriseToRevenue': 12.65,
 'enterpriseToEbitda': 92.793,
 '52WeekChange': 1.2346184,
 'SandP52WeekChange': 0.22208416,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'underlyingSymbol': 'TSLA',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'firstTradeDateEpochUtc': 1277818200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': 'ec367bc4-f92c-397c-ac81-bf7b43cffaf7',
 'messageBoardId': 'finmb_27444752',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 404.6,
 'targetHighPrice': 550.0,
 'targetLowPrice': 135.0,
 'targetMeanPrice': 324.98926,
 'targetMedianPrice': 300.0,
 'recommendationMean': 2.76087,
 'recommendationKey': 'hold',
 'numberOfAnalystOpinions': 41,
 'totalCash': 33648001024,
 'totalCashPerShare': 10.482,
 'ebitda': 13244000256,
 'totalDebt': 12782999552,
 'quickRatio': 1.214,
 'currentRatio': 1.844,
 'totalRevenue': 97150001152,
 'debtToEquity': 18.078,
 'revenuePerShare': 30.457,
 'returnOnAssets': 0.04759,
 'returnOnEquity': 0.20389,
 'grossProfits': 17709000704,
 'freeCashflow': 676625024,
 'operatingCashflow': 14478999552,
 'earningsGrowth': 0.17,
 'revenueGrowth': 0.078,
 'grossMargins': 0.18229,
 'ebitdaMargins': 0.13633001,
 'operatingMargins': 0.107889995,
 'financialCurrency': 'USD',
 'trailingPegRatio': 5.3299}

In [211]:
sp500_list = investpy.get_stocks_list(country="United States")
len(sp500_list)

4582

In [212]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
sp500_table = pd.read_html(url)[0]  # First table contains S&P 500 tickers

# Keep only the columns of interest
sp500_table = sp500_table[["Symbol"]]

In [214]:
sp500_list = sp500_table['Symbol'].to_list()
sp500_list

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'APO',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'BXP',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CRWD',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DECK',
 'DE',
 'DELL',
 'DAL',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ERIE',
 'ESS',
 'EL',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GE',
 'GEHC',
 'GEV',
 'GEN',
 'GNRC',
 'GD',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GDDY',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KKR',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LII',
 'LLY',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PLTR',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SW',
 'SNA',
 'SOLV',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TPL',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VTRS',
 'VICI',
 'V',
 'VST',
 'VMC',
 'WRB',
 'GWW',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WY',
 'WMB',
 'WTW',
 'WDAY',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZTS']

In [255]:
data = []
progress = 0
for ticker in tqdm(sp500_list):
    stock = yf.Ticker(ticker)
    
    # Extract relevant financial metrics
    try:
        market_cap = stock.info["marketCap"]
        revenue_growth = stock.info.get("revenueGrowth", None)
        earningsGrowth = stock.info.get("earningsGrowth", None)
        enterpriseToEbitda = stock.info.get("earningsGrowth", None)
        enterpriseToRevenue  = stock.info.get("earningsGrowth", None)
        ebitda_margin = stock.info.get("ebitdaMargins", None)
        operatingMargins = stock.info.get("operatingMargins", None)
        de = stock.info.get("debtToEquity", None)
        pe = stock.info.get("trailingPE", None)
        roe = stock.info.get("returnOnEquity", None)
        roa = stock.info.get("returnOnAssets", None)
        
        data.append([ticker,market_cap,revenue_growth,earningsGrowth,enterpriseToEbitda,enterpriseToRevenue,ebitda_margin,operatingMargins,de, pe, roe,roa])
    
    except Exception as e:
        print(f"Error fetching data for {ticker}: {e}")

# Convert to DataFrame
df = pd.DataFrame(data, columns=['Company', 'Market Cap', 'Rev Growth', 'NI Growth', 'EV/EBITDA', 'EV/Rev', 'EBITDA Margin', 'Operating Margin', 'Debt/Equity', 'PE', 'ROE','ROA'])
df_no_nan = df.dropna()


# Drop non-numeric columns
df_numeric = df.drop(columns=["Company"])

# Normalize the data
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df_numeric)

# Convert back to DataFrame
df_scaled = pd.DataFrame(df_scaled, columns=df_numeric.columns)
df_scaled.insert(0, "Company", df["Company"])  # Reinsert company names
df_scaled = df_scaled.dropna()
# Drop non-numeric columns
df_numeric = df.drop(columns=["Company"])

# Normalize the data
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df_numeric)

# Convert back to DataFrame
df_scaled = pd.DataFrame(df_scaled, columns=df_numeric.columns)
df_scaled.insert(0, "Company", df["Company"])  # Reinsert company names
df_scaled = df_scaled.dropna()
# Set number of clusters (can be adjusted)
k = 10  # Typically, 3-5 clusters work well for comps
kmeans = KMeans(n_clusters=k, random_state=42)

# Fit K-Means
df_scaled["Cluster"] = kmeans.fit_predict(df_scaled.drop(columns=["Company"]))
target_stock = "TSLA"  # Change to your stock
target_cluster = df_scaled[df_scaled["Company"] == target_stock]["Cluster"].values[0]

# Get companies in the same cluster
comparable_companies = df_scaled[df_scaled["Cluster"] == target_cluster]["Company"].tolist()
comparable_companies.remove(target_stock)  # Remove target itself

print(f"Comparable companies for {target_stock}: {comparable_companies}")

 12%|█▏        | 61/503 [00:29<03:30,  2.10it/s]

Error fetching data for BRK.B: 'marketCap'

 15%|█▌        | 76/503 [00:36<03:12,  2.22it/s]

Error fetching data for BF.B: 'marketCap'

100%|██████████| 503/503 [03:58<00:00,  2.11it/s]

Comparable companies for TSLA: ['ABT', 'ACN', 'ABNB', 'AKAM', 'ALGN', 'AMCR', 'AIG', 'AON', 'APTV', 'ADM', 'AJG', 'AIZ', 'AVY', 'AXON', 'BKR', 'BALL', 'BAX', 'BBY', 'TECH', 'BSX', 'BR', 'BLDR', 'BG', 'CHRW', 'KMX', 'CCL', 'CARR', 'CBRE', 'CDW', 'CE', 'COR', 'CNC', 'CRL', 'CVX', 'CB', 'CI', 'CSCO', 'CTSH', 'CMCSA', 'CAG', 'CEG', 'COO', 'CSGP', 'COST', 'CMI', 'CVS', 'DHR', 'DRI', 'DVA', 'DE', 'DAL', 'DXCM', 'DLR', 'DG', 'DOV', 'DOW', 'DHI', 'DTE', 'DD', 'EMN', 'ETN', 'EBAY', 'EA', 'ELV', 'EMR', 'ENPH', 'EPAM', 'EFX', 'EXPE', 'EXPD', 'XOM', 'FE', 'F', 'FTV', 'GEHC', 'GNRC', 'GD', 'GIS', 'GM', 'GPC', 'GL', 'HAL', 'HIG', 'HSIC', 'HPE', 'HON', 'HRL', 'HST', 'HUM', 'HII', 'IEX', 'IR', 'PODD', 'IP', 'IPG', 'IVZ', 'IQV', 'JBHT', 'JBL', 'J', 'JCI', 'JNPR', 'K', 'KVUE', 'KDP', 'KEYS', 'KR', 'LHX', 'LH', 'LW', 'LVS', 'LEN', 'LYV', 'LKQ', 'LMT', 'L', 'LYB', 'MPC', 'MLM', 'MKC', 'MDT', 'MGM', 'MCHP', 'MOH', 'TAP', 'MDLZ', 'NKE', 'NOC', 'NCLH', 'NUE', 'OMC', 'OKE', 'PCAR', 'PKG', 'PANW', 'PH', 'PYPL', 'PNR', 'PEP', 'PSX', 'POOL', 'PPG', 'PWR', 'DGX', 'RL', 'RSG', 'ROK', 'ROST', 'CRM', 'SLB', 'SRE', 'SHW', 'SWKS', 'SJM', 'SOLV', 'LUV', 'STLD', 'STE', 'SYK', 'TPR', 'TRGP', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TXT', 'TMO', 'TJX', 'TSCO', 'TRMB', 'TYL', 'UAL', 'UPS', 'UNH', 'UHS', 'VLO', 'VMC', 'WAB', 'WMT', 'WM', 'WY', 'WDAY', 'XYL', 'ZBH']

In [247]:
df

,Company,Market Cap,Rev Growth,NI Growth,EV/EBITDA,EV/Rev,EBITDA Margin,Operating Margin,Debt/Equity,PE,ROE,ROA
0,MMM,82107334656,0.004,NaN,NaN,NaN,0.24870,0.21433,295.441,20.964186,1.13294,0.09032
1,AOS,9758164992,-0.037,-0.089,-0.089,-0.089,0.20779,0.17793,7.471,18.539946,0.29544,0.14337
2,ABT,221889478656,0.049,0.146,0.146,0.146,0.26263,0.18749,37.589,16.744764,0.14840,0.06488
3,ABBV,324977033216,0.038,-0.123,-0.123,-0.123,0.46153,0.28928,1174.815,76.945600,0.56407,0.07720
4,ACN,240778526720,0.026,0.236,0.236,0.236,0.17052,0.14597,14.127,32.267395,0.26675,0.11627
...,...,...,...,...,...,...,...,...,...,...,...,...
495,XYL,30134896640,0.013,0.413,0.413,0.413,0.20050,0.13498,19.840,35.541546,0.08081,0.04429
496,YUM,36418895872,0.069,-0.075,-0.075,-0.075,0.36107,0.34447,NaN,24.392525,NaN,0.24328
497,ZBRA,20216264704,0.313,NaN,NaN,NaN,0.17247,0.15618,69.307,53.180460,0.11874,0.05234
498,ZBH,21794621440,0.040,0.597,0.597,0.597,0.33670,0.17997,53.611,20.893131,0.08713,0.04610
499,ZTS,77104095232,0.110,0.163,0.163,0.163,0.41128,0.38526,129.442,32.184555,0.47303,0.14664

In [248]:
df_no_nan = df.dropna()

In [249]:
df_no_nan

,Company,Market Cap,Rev Growth,NI Growth,EV/EBITDA,EV/Rev,EBITDA Margin,Operating Margin,Debt/Equity,PE,ROE,ROA
1,AOS,9758164992,-0.037,-0.089,-0.089,-0.089,0.20779,0.17793,7.471,18.539946,0.29544,0.14337
2,ABT,221889478656,0.049,0.146,0.146,0.146,0.26263,0.18749,37.589,16.744764,0.14840,0.06488
3,ABBV,324977033216,0.038,-0.123,-0.123,-0.123,0.46153,0.28928,1174.815,76.945600,0.56407,0.07720
4,ACN,240778526720,0.026,0.236,0.236,0.236,0.17052,0.14597,14.127,32.267395,0.26675,0.11627
5,ADBE,190421991424,0.106,0.233,0.233,0.233,0.38831,0.36834,41.788,35.335220,0.35355,0.15969
...,...,...,...,...,...,...,...,...,...,...,...,...
492,WDAY,69707956224,0.167,0.661,0.661,0.661,0.08089,0.05324,40.312,43.101974,0.21081,0.01426
494,XEL,38589059072,-0.005,0.018,0.018,0.018,0.40035,0.25165,154.330,19.940653,0.10262,0.02564
495,XYL,30134896640,0.013,0.413,0.413,0.413,0.20050,0.13498,19.840,35.541546,0.08081,0.04429
498,ZBH,21794621440,0.040,0.597,0.597,0.597,0.33670,0.17997,53.611,20.893131,0.08713,0.04610
499,ZTS,77104095232,0.110,0.163,0.163,0.163,0.41128,0.38526,129.442,32.184555,0.47303,0.14664

In [250]:
from sklearn.preprocessing import StandardScaler

# Drop non-numeric columns
df_numeric = df.drop(columns=["Company"])

# Normalize the data
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df_numeric)

# Convert back to DataFrame
df_scaled = pd.DataFrame(df_scaled, columns=df_numeric.columns)
df_scaled.insert(0, "Company", df["Company"])  # Reinsert company names
df_scaled = df_scaled.dropna()

In [251]:
from sklearn.cluster import KMeans

# Set number of clusters (can be adjusted)
k = 10  # Typically, 3-5 clusters work well for comps
kmeans = KMeans(n_clusters=k, random_state=42)

# Fit K-Means
df_scaled["Cluster"] = kmeans.fit_predict(df_scaled.drop(columns=["Company"]))

print(df_scaled)

    Company  Market Cap  Rev Growth  NI Growth  EV/EBITDA    EV/Rev  \
1       AOS   -0.303929   -0.522875  -0.286957  -0.286957 -0.286957
2       ABT    0.328063   -0.130480  -0.123836  -0.123836 -0.123836
3      ABBV    0.635186   -0.180670  -0.310558  -0.310558 -0.310558
4       ACN    0.384338   -0.235423  -0.061365  -0.061365 -0.061365
5      ADBE    0.234313    0.129597  -0.063447  -0.063447 -0.063447
..      ...         ...         ...        ...        ...       ...
492    WDAY   -0.125324    0.407924   0.233641   0.233641  0.233641
494     XEL   -0.218035   -0.376868  -0.212685  -0.212685 -0.212685
495     XYL   -0.243222   -0.294738   0.061497   0.061497  0.061497
498     ZBH   -0.268070   -0.171544   0.189217   0.189217  0.189217
499     ZTS   -0.103289    0.147848  -0.112036  -0.112036 -0.112036

     EBITDA Margin  Operating Margin  Debt/Equity        PE       ROE  \
1        -0.387438         -0.204349    -0.421613 -0.269346 -0.000535
2        -0.061986         -0.140069    -0.330896 -0.292743 -0.198857
3         1.118403          0.544345     3.094492  0.491887  0.361782
4        -0.608620         -0.419241    -0.401565 -0.090428 -0.039231
5         0.683873          1.075928    -0.318248 -0.050444  0.077841
..             ...               ...          ...       ...       ...
492      -1.140537         -1.042738    -0.322694  0.050785 -0.114681
494       0.755325          0.291329     0.020734 -0.251090 -0.260603
495      -0.430702         -0.493136    -0.384357 -0.047755 -0.290020
498       0.377589         -0.190632    -0.282637 -0.238675 -0.281496
499       0.820190          1.189695    -0.054230 -0.091508  0.238991

          ROA  Cluster
1    1.325751        0
2   -0.048746        1
3    0.166999        9
4    0.851183        1
5    1.611543        0
..        ...      ...
492 -0.935190        1
494 -0.735907        9
495 -0.409313        1
498 -0.377616        1
499  1.383015        0

[374 rows x 13 columns]

In [254]:
target_stock = "TSLA"  # Change to your stock
target_cluster = df_scaled[df_scaled["Company"] == target_stock]["Cluster"].values[0]

# Get companies in the same cluster
comparable_companies = df_scaled[df_scaled["Cluster"] == target_cluster]["Company"].tolist()
comparable_companies.remove(target_stock)  # Remove target itself

print(f"Comparable companies for {target_stock}: {comparable_companies}")

Comparable companies for TSLA: ['ABT', 'ACN', 'ABNB', 'AKAM', 'ALGN', 'AMCR', 'AIG', 'AON', 'APTV', 'ADM', 'AJG', 'AIZ', 'AVY', 'AXON', 'BKR', 'BALL', 'BAX', 'BBY', 'TECH', 'BSX', 'BR', 'BLDR', 'BG', 'CHRW', 'KMX', 'CCL', 'CARR', 'CBRE', 'CDW', 'CE', 'COR', 'CNC', 'CRL', 'CVX', 'CB', 'CI', 'CSCO', 'CTSH', 'CMCSA', 'CAG', 'CEG', 'COO', 'CSGP', 'COST', 'CMI', 'CVS', 'DHR', 'DRI', 'DVA', 'DE', 'DAL', 'DXCM', 'DLR', 'DG', 'DOV', 'DOW', 'DHI', 'DTE', 'DD', 'EMN', 'ETN', 'EBAY', 'EA', 'ELV', 'EMR', 'ENPH', 'EPAM', 'EFX', 'EXPE', 'EXPD', 'XOM', 'FE', 'F', 'FTV', 'GEHC', 'GNRC', 'GD', 'GIS', 'GM', 'GPC', 'GL', 'HAL', 'HIG', 'HSIC', 'HPE', 'HON', 'HRL', 'HST', 'HUM', 'HII', 'IEX', 'IR', 'PODD', 'IP', 'IPG', 'IQV', 'JBHT', 'JBL', 'J', 'JCI', 'JNPR', 'K', 'KVUE', 'KDP', 'KEYS', 'KR', 'LHX', 'LH', 'LW', 'LVS', 'LEN', 'LYV', 'LKQ', 'LMT', 'L', 'LYB', 'MPC', 'MLM', 'MKC', 'MDT', 'MGM', 'MCHP', 'MOH', 'TAP', 'MDLZ', 'NKE', 'NOC', 'NCLH', 'NUE', 'OMC', 'OKE', 'PCAR', 'PKG', 'PANW', 'PH', 'PYPL', 'PNR', 'PEP', 'PSX', 'POOL', 'PPG', 'PWR', 'DGX', 'RL', 'RSG', 'ROK', 'ROST', 'CRM', 'SLB', 'SRE', 'SHW', 'SWKS', 'SJM', 'SOLV', 'LUV', 'STLD', 'STE', 'SYK', 'TPR', 'TRGP', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TXT', 'TMO', 'TJX', 'TSCO', 'TRMB', 'TYL', 'UAL', 'UPS', 'UNH', 'UHS', 'VLO', 'VMC', 'WAB', 'WMT', 'WM', 'WY', 'WDAY', 'XYL', 'ZBH']